---
import Layout from '../../layouts/Layout.astro';
import BlogPost from '../../components/BlogPost.astro';
import Tags from '../../components/Tags.astro';

export async function getStaticPaths() {
    const allPost = await Astro.glob('../posts/*.md');
    const uniqueTags = [...new Set(allPost.map((post) => post.frontmatter.tags).flat())];

    return uniqueTags.map((tag) => {
        const filteredPosts = allPost.filter((post) => post.frontmatter.tags.includes(tag));
        return {
            params: { tag },
            props: { posts: filteredPosts },
        };
    });
}

const { tag } = Astro.params;
const { posts } = Astro.props;
---
<Layout title={tag}
    description={tag}>
    <div class="flex flex-col gap-y-10 justify-center items-center text-center px-5 md:px-0 my-20 md:my-28 min-w-2/3 w-4/5 m-auto">
        <h1 class="text-xl md:text-5xl text-[#5FCDD9] font-semibold flex flex-col">Artículos sobre: <span>{tag}</span></h1>
        <div class="flex gap-y-10 justify-center items-center text-center px-5 md:px-0">
            <div class="grid grid-cols-1 gap-10">
                {posts.map((post) => <BlogPost title={post.frontmatter.title} description={post.frontmatter.description} url={post.url} image={post.frontmatter.image} pubDate={post.frontmatter.pubDate} slug={post.frontmatter.slug}/>)}
            </div>
                <Tags />
        </div>
    </div>
</Layout>