---
import Layout from "../layouts/Layout.astro";
import Tags from "../components/Tags.astro";
import BlogPost from "../components/BlogPost.astro";
const allPost = await Astro.glob('../pages/posts/*.md');
---

<Layout title="Porfolio de Oscar Lugo - Blog"
    description="Blog de Oscar Lugo">
    <div class="flex flex-col gap-y-10 justify-center items-center text-center px-5 md:px-0 my-20 md:my-28 min-w-2/3">
        <h1 class="text-xl md:text-5xl text-[#5FCDD9] font-semibold">Artículos del Blog</h1>
        <div class="flex gap-y-10 justify-center items-center text-center px-5 md:px-0">
            <div class="grid grid-cols-1 md:grid-cols-2 gap-10">
                {allPost.map((post) => <BlogPost title={post.frontmatter.title} description={post.frontmatter.description} url={post.url} image={post.frontmatter.image} pubDate={post.frontmatter.pubDate} slug={post.frontmatter.slug}/>)}
            </div>
                <Tags />
        </div>
    </div>
</Layout>