---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import Tags from "../components/Tags.astro";

import { ViewTransitions } from "astro:transitions";
const { frontmatter } = Astro.props;
---
<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content={frontmatter.description} />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/img/Avatar.webp" />
		<meta name="generator" content={Astro.generator} />
		<link rel="sitemap" href="/sitemap-index.xml" />
		<title>{frontmatter.title}</title>
		<ViewTransitions />
	</head>
	<!-- Google tag (gtag.js) -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=G-4VQKQL0E1N"></script>
	<script type="text/javascript">
	window.dataLayer = window.dataLayer || [];
	function gtag(){dataLayer.push(arguments);}
	gtag('js', new Date());

	gtag('config', 'G-4VQKQL0E1N');
	</script>
	<body>
		<Header />
		<div class="flex flex-col gap-y-10 justify-center items-center px-5 md:px-0 my-20 md:my-28 min-w-2/3 w-3/4 text-[#5FCDD9] border border-gray-600 rounded-lg py-5 ml-5 shadow-lg shadow-gray-600">
            <img transition:name={frontmatter.slug} class="aspect-video" src={frontmatter.image.url} alt={frontmatter.image.alt}>
            <h1 class="text-3xl text-[#5FCDD9] font-semibold">{frontmatter.title}</h1>
            <slot />
        </div>
        <Tags />
		<Footer />
		<script src="../../node_modules/flowbite/dist/flowbite.min.js"></script>
	</body>
</html>
<style is:global>
	html {
		font-family: 'Urbanist', system-ui, sans-serif;
		scroll-behavior: smooth !important;
	}
	body{
		background-color: #172026;
		display: flex;
		flex-direction: column;
		min-height: 100vh;
		height: auto;
	}
    h2{
        color: #5FCDD9;
        text-align: left;
    }
	p{
		width: 80%;
		color: #027373;
	}
    ul{
        list-style: circle;
        padding-left: 200px;
        padding-right: 200px;
		text-align: left;
    }
	@media(prefers-reduced-motion: reduce){
		html{
			scroll-behavior: auto;
		}
	}
	pre{
		max-width: 90%;
	}
	@media (max-width: 768px) {
		ul{
			padding-left: 50px;
			padding-right: 50px;
		}
	}
</style>
